@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: Roboto, sans-serif;
}

body {
    background-color: #6d6d64 ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculatorContainer {
    height: 650px;
    width: 520px;
    border: 1px solid black;
}

.screenContainer {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 85px;
    height: 100px;
    width: 350px;
    border: solid black 1px;
}

.screen {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    width: 350px;
    font-size: 40px;
}

.row1, .row2, .row3, .row4, .row5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
   height: 80px;
   width: 80px;
   border-radius: 50px;
   margin: 2px;
   background-color: #CCCCCC;
}

button[disabled] {
    color: buttontext;
    box-sizing: border-box;
    background-color: buttonface;
    border-width: 1px;
    border-color: buttonborder;
}

.equal {
    height: 80px;
    width: 160px;
}

.operator, .equal {
    background-color: #7F9488;
}