.calculatorContainer {
    display: flex;
    flex-direction: column;
    height: 356px;
    width: 520px;
    background-color: red;
}

.screenContainer {
    height: 100px;
    width: 520px;
    background-color: bisque;
}

.row1, .row2, .row3, .row4, .row5 {
    background: yellow;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
   height: 60px;
   width: 60px;
}

button[disabled] {
    color: buttontext;
    box-sizing: border-box;
    background-color: buttonface;
    border-width: 1px;
    border-color: buttonborder;
}

.equals {
    height: 60px;
    width: 120px;
}